* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.err {
  color: rgba(255, 0, 0);
  text-align: center;
  font-size: 13px;
  margin: 0 auto;
  display: block;
}
.success {
  color: green;
  padding: 0 25%;
  font-size: 16px;
  margin: 0 auto;
  display: block;
}
.text-center {
  text-align: center;
}
.upcase {
  text-transform: uppercase;
}
.lwcase {
  text-transform: lowercase;
}
.logo {
  width: 140px;
  height: 40px;
}
h1 {
  font-size: 60px;
  line-height: 64px;
  color: #252525;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #252525;
}
h4 {
  font-size: 20px;
  color: #252525;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section_p1 {
  padding: 40px 80px;
}
.section_m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}

button.white {
  font-size: 13px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

body {
  width: 100%;
}
