@import url("global.css");

@import url("navbar.css");
@import url("index.css");
@import url("shop.css");
@import url("cart.css");
@import url("responsive.css");
@import url("about.css");
@import url("admin.css");
@import url("seller_data.css");
@import url("address.css");
